<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

   <!-- Dependent class cfg -->
   <bean id="engg" class="com.nt.comps.DieselEngine" scope="singleton" lazy-init="true"/>
   <bean id="pEngine" class="com.nt.comps.PetrolEngine" scope="prototype"/>
   <bean id="cngEngine" class="com.nt.comps.CNGEngine" scope="singleton" lazy-init="true"/>
   
   <!-- Target class cfg --><!-- one autowire and another explicit wiring -->
   <bean id="vehicle"  class="com.nt.comps.Vehicle" >
   <constructor-arg ref="pEngine"/>
   

   <property name="type"  value="four-wheeler"/>
   </bean>

</beans>
